# **Exploring Ebay Kleinanzeigen Car Sales** <br> (with Abridged Kaggle Data)
----

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np

# reading in the csv
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

**The data dictionary is as follows**:

- `dateCrawled` - When this ad was first crawled. All field-values are taken from this date.<br>
- `name` - Name of the car.<br>
- `seller` - Whether the seller is private or a dealer.<br>
- `offerType` - The type of listing<br>
- `price` - The price on the ad to sell the car.<br>
- `abtest` - Whether the listing is included in an A/B test.<br>
- `vehicleType` - The vehicle Type.<br>
- `yearOfRegistration` - The year in which which year the car was first -registered.<br>
- `gearbox` - The transmission type.<br>
-  `powerPS` - The power of the car in PS.<br>
- `model` - The car model name.<br>
- `kilometer` - How many kilometers the car has driven.<br>
- `monthOfRegistration` - The month in which which year the car was first registered.<br>
- `fuelType` - What type of fuel the car uses.<br>
- `brand` - The brand of the car.<br>
- `notRepairedDamage` - If the car has a damage which is not yet repaired.<br>
- `dateCreated` - The date on which the eBay listing was created.<br>
- `nrOfPictures` - The number of pictures in the ad.<br>
- `postalCode` - The postal code for the location of the vehicle.<br>
- `lastSeenOnline` - When the crawler saw this ad last online.

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

### Observations

There are a total of 50,000 records in this dataset. Additionally, there appear to be null values in 5 columns: 
- vehicleType 
- gearbox 
- model 
- fuelType
- notRepairedDamage

Fortunately, there are few null items. All null totals are below 20% of the 50,000 item total. 

Of 20 total columns, there are 5 that are of integer dtype and 15 that are object/string type.

## Normalizing the Columns
----

In [4]:
# creating an array containing the column names
print(autos.columns)

# editing the column names
autos.rename(index=str, columns={'dateCrawled':'date_crawled', 'name':'name', 'seller':'seller', 'offerType':'offer_type', 'price':'price', 'abtest':'abtest',
       'vehicleType':'vehicle_type', 'yearOfRegistration':'registration_year', 'gearbox':'gearbox', 'powerPS':'power_ps', 'model':'model',
       'odometer':'odometer', 'monthOfRegistration':'registration_month', 'fuelType':'fuel_type', 'brand':'brand',
       'notRepairedDamage':'unrepaired_damage', 'dateCreated':'ad_created', 'nrOfPictures':'nr_of_pictures', 'postalCode':'postal_code',
       'lastSeen':'last_seen'}, inplace=True)

# confirming changes
autos.head()

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### What did I do?
I switched from camelcase to snakecase and switched all column titles to lowercase.  With more columns I most likely would not have done the renaming SO manually.

## Exploring .describe()
---

In [5]:
autos.describe()

,registration_year,power_ps,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

Based on this printout, it looks as though there are a few numeric columns that aren't being stored as such because they didn't appear here. The number of pictures column is also looking a bit suspcious. There is a count but there is nothing in the statistics sections. Postal code should maybe be switched to a string.

The two columns that are numeric but stored as strings are:
- price
- odometer

In [6]:
# checking out the values in the price column
autos['price'].unique()

# creating a function to convert non-numeric values to floats
def remove_nonnum(val):
    val = val.replace("$","")
    val = val.replace(",","")
    val = val.replace("km","")
    val = int(val)
    return val

In [7]:
# applying the function to the price column
autos['price'] = [remove_nonnum(v) for v in autos['price']]

In [8]:
# applying the function to the odometer column
autos['odometer'] = [remove_nonnum(v) for v in autos['odometer']]

In [9]:
# renaming columns for clarity
autos.rename(index=str, columns={'odometer':'odometer_km', 'price':'price_usd'}, inplace=True)

## Exploration Continued
---

In [10]:
autos['price_usd'].describe().apply(lambda x: format(x, 'f'))

count       50000.000000
mean         9840.043760
std        481104.380500
min             0.000000
25%          1100.000000
50%          2950.000000
75%          7200.000000
max      99999999.000000
Name: price_usd, dtype: object

There are a few curious things about the price column: The standard deviation is pretty wild and somebody has a pretty expensive car—probably a related issue. Someone just wants to watch the world burn... or at least Ebay Kleinanzeigen.

In [11]:
autos[autos['price_usd'] == 99999999]

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,privat,Angebot,99999999,control,limousine,1999,automatik,224,s_klasse,150000,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30

Looks like that crazily priced vehicle was due to special circumstances. In this case, the seller wanted to exchange his limo for something of equal value. There could be other outliers in the data though. Things can get pretty wild in the classifieds. 
<br><br>
Let's find out!

In [12]:
autos = autos[autos['price_usd'].between(100,300000)]

In [13]:
autos['price_usd'].describe().apply(lambda x: format(x, 'f'))

count     48222.000000
mean       5916.204886
std        8807.999072
min         100.000000
25%        1250.000000
50%        3000.000000
75%        7499.000000
max      299000.000000
Name: price_usd, dtype: object

After that adjustment to a more realistic price range, our data appears to be in much better shape.